body {
  font-family: "Roboto", sans-serif;
}

.header-link {
  font-size: 13px;
  line-height: 2.31;
  color: #ffffff;
}
.header-btn {
  font-size: 13px;
  line-height: 1.23;
  text-align: center;

  color: #ffffff;
}
.header-fon {
  background-color: #0e0e33;
}

/*Hero*/
.hero-section {
  background-color: #0e0e33;
}
.hero-title {
  font-size: 42px;
  line-height: 1.19;
  color: #ffffff;
}

.hero-pretitle {
  font-weight: 400;
  font-size: 11px;
  line-height: 2.73;
  color: #ffffff;
}

.hero-button {
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
  background: #0a8bfe;
  border-radius: 4px;
}

/* Partners */
.partners-title {
  font-size: 26px;
  line-height: 1.47;
  color: #000000;
}
.pre-title {
  font-size: 16px;
  line-height: 1.88;
  color: #737373;
}
.title-list {
}
.list-item {
  font-size: 11px;
  line-height: 2.7;
  color: #737373;
}

.where-title {
  font-size: 41px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
}
.where-text {
  font-size: 12px;
  line-height: 2.5;
  text-align: center;
  color: #737373;
}
.where-list {
}
.where-item {
}
.where-btn {
  font-size: 23px;
  line-height: 1.65;
  text-align: center;
  color: #0a8bfe;
}

.first-title {
  font-size: 19px;
  line-height: 1.47;
  color: #000000;
}

.first-text {
  font-size: 16px;
  line-height: 1.88;
  color: #737373;
}
